.button{
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #858585;
  text-align: center;
  display: block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}